{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'search/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AFSM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link"  href="{% url 'hazard' %}">Hazard</a>
                    <a class="nav-link" href="{% static 'search/afman24-604.pdf' %}">Source</a>
                    <a class="nav-link" href="{% url 'conversion' %}">Conversion</a>
                    <a class="nav-link" href="{% url 'shipmentHistory' %}">Shipment History</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-4 table-responsive">

        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>UN / ID NUMBER</th>
                    <th>PROPER SHIPPING NAME / DESCRIPTION </th>
                    <th>HAZARD CLASS / DIV</th>
                    <th>SUBSIDIARY RISK</th>
                    <th>PG</th>
                    <th>SPECIAL PROVISION</th>
                    <th>PACKAGING PARAGRAPH</th>
                    <th>CAUTION</th>
                    <th>WARNING</th>
                </tr>
            </thead>
            <tbody id="pnTable">
                <tr>
                    <td> {{ product.un }} </td>
                    <td> {{ product.psn }} </td>
                    <td>
                        {% if product.hazard %}
                        <button class="btn btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#haz" aria-expanded="true"
                            aria-controls="haz">
                            {{ product.hazard }}
                        </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if product.sub_as_list %}
                        {% for sub in product.sub_as_list %}
                        <button class="btn btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#sub{{ forloop.counter }}" aria-expanded="true"
                            aria-controls="sub{{ forloop.counter }}">
                            {{ sub }}
                        </button>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.pg_as_list %}
                        {% for pg in product.pg_as_list %}
                        <button class="btn btn-outline-primary">
                            {{ pg }}
                        </button>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.sp_as_list %}
                        {% for sp in product.sp_as_list %}
                        <button class="btn btn-outline-primary" data-bs-toggle="collapse"
                            data-bs-target="#sp{{ forloop.counter }}" aria-expanded="true"
                            aria-controls="sp{{ forloop.counter }}">
                            {{ sp }}
                        </button>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.paragraph %}
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#pp" aria-controls="pp">
                            {{ product.paragraph }}
                        </button>
                        {% endif %}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="accordion accordion-flush" id="accordionExample">
            {% if haz_class %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#haz" aria-controls="haz">
                        Class {{ haz_class.code }}
                    </button>
                </h2>
                <div id="haz" class="bg-light accordion-collapse collapse"
                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ haz_class.desc }}</strong>
                    </div>
                </div>
            </div>
            {% endif %}

            {% for sub in sub_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#sub{{ forloop.counter }}" aria-controls="sub{{ forloop.counter }}">
                        Subsidiary Risk {{ sub.code }}
                    </button>
                </h2>
                <div id="sub{{ forloop.counter }}" class="bg-light accordion-collapse collapse"
                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ sub.desc }}</strong>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for sp in sp_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#sp{{ forloop.counter }}" aria-controls="sp{{ forloop.counter }}">
                        SP {{ sp.code }}
                    </button>
                </h2>
                <div id="sp{{ forloop.counter }}" class="bg-light accordion-collapse collapse"
                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ sp.desc }}</strong>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% if pp != "" %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pp"
                        aria-controls="pp">
                        Packaging Paragraph {{ pp }}
                    </button>
                </h2>
                <div id="pp" class="bg-light accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if pp == "FORBIDDEN" %}
                        <strong>Cannot be ship on aircraft</strong>
                        {% else %}
                        <strong><a href="{% static 'search/attachments/'|add:pp|add:'.pdf' %}" target="_blank">Click here to open
                                document</a></strong>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <footer class="py-3 my-4">
            <p class="text-center text-muted">© 2022 AFSM</p>
        </footer>
    </div>
</body>

</html>