{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'search/script.js' %}"></script>

<body id="main">
    <div class="topnav">
        <a
            href="https://static.e-publishing.af.mil/production/1/af_a4/publication/afman24-604/afman24-604.pdf">Source</a>
        <a href="{% url 'shipmentHistory' %}">Shipment History</a>
        <a href="{% url 'index' %}">Home</a>
    </div>

    <div class="container">

        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>UN</th>
                    <th>PROPER SHIPPING NAME/ DESCRIPTION</th>
                    <th>SUBSIDIARY CLASS</th>
                    <th>PACKING GROUP</th>
                    <th>SPECIAL PROVISIONS</th>
                    <th>PACKING PARAGRAPH</th>
                    <th>PROPER SHIPPING NAME/ DESCRIPTION</th>
                    <th>CAUTION</th>
                    <th>WARNING</th>
                </tr>
            </thead>
            <tbody id="pnTable">
                {% for product in product_list %}
                <tr>
                    <td> {{ product.product_un }} </td>
                    <td> {{ product.product_psn }} </td>
                    <td>
                        {% if product.haz_as_list %}
                        {% for haz in product.haz_as_list %}
                        <button class="btn btn-outline-primary" onclick="openNav()">
                            {{ haz }}
                        </button>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.sub_as_list %}
                        {% for sub in product.sub_as_list %}
                        <button class="btn btn-outline-primary" onclick="openNav()">
                            {{ sub }}
                        </button>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.pg_as_list %}
                        {% for pg in product.pg_as_list %}
                        <button class="btn btn-outline-primary" onclick="openNav()">
                            {{ pg }}
                        </button>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.sp_as_list %}
                        {% for sp in product.sp_as_list %}
                        <button class="btn btn-outline-primary" onclick="openNav()">
                            {{ sp }}
                        </button>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </td>
                    <td>
                        {% if product.paragraph_as_list %}
                        {% for paragraph in product.paragraph_as_list %}
                        <button class="btn btn-outline-primary" onclick="openNav()">
                            {{ paragraph }}
                        </button>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
</body>

</html>