{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 shadow-lg mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AFSM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'hazard' %}">Hazard</a>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Source
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A5.pdf' %}" target="_blank">Attachment 5</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A6.pdf' %}" target="_blank">Attachment 6</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A7.pdf' %}" target="_blank">Attachment 7</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A8.pdf' %}" target="_blank">Attachment 8</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A9.pdf' %}" target="_blank">Attachment 9</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A10.pdf' %}" target="_blank">Attachment 10</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A11.pdf' %}" target="_blank">Attachment 11</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A12.pdf' %}" target="_blank">Attachment 12</a></li>
                              <li><a class="dropdown-item" href="{% static 'search/attachments/A13.pdf' %}" target="_blank">Attachment 13</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    <a class="nav-link" href="{% url 'conversion' %}">Conversion</a>
                    <a class="nav-link" href="{% url 'shipmentHistory' %}">Shipment History</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-4 table-responsive">
        <h1 class="text-center"> Hazardous Substances </h1>

        <div class="mb-3 d-flex">
            <div class="me-2">
                <select class="form-select" name="state" id="maxRows">
                    <option value="5000">Show ALL Rows</option>
                    <option value="5">Show 5 Rows</option>
                    <option value="10">Show 10 Rows</option>
                    <option value="20">Show 25 Rows</option>
                    <option value="50">Show 50 Rows</option>
                    <option value="100">Show 100 Rows</option>
                </select>
            </div>
            <div class="flex-grow-1">
                <input class="form-control" type="text" id="filterInput" placeholder="">
            </div>
        </div>

        <table id="table-id" class="table table-light table-hover">
            <thead class="table-dark">
                <tr>
                    <th>PROPER SHIPPING NAME / DESCRIPTION </th>
                    <th width="150">POUNDS</th>
                    <th width="150">KILOGRAMS</th>
                </tr>
            </thead>
            <tbody id="pnTable">
                {% for hazsubstance in hazsubstances %}
                    <tr class="filtered">
                        <td scope="col"> {{ hazsubstance.psn }} </td>
                        <td scope="col"> {{ hazsubstance.weight_lbs }} </td>
                        <td scope="col"> {{ hazsubstance.weight_kgs }} </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item disabled" data-page="prev">
                    <a class="page-link link-dark">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" data-page="next">
                    <a class="page-link link-dark">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <footer class="py-3 my-4">
            <p class="text-center text-muted">© 2022 AFSM</p>
        </footer>
    </div>

    <script src="{% static 'search/script.js' %}"></script>
</body>

</html>