{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'search/script.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="">AFSM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link" href="{% url 'source' %}">Source</a>
                    <a class="nav-link" href="{% url 'shipmentHistory' %}">Shipment History</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4 table-responsive">
        <h1 class="text-center"> Air Force Shipment Manager </h1>

        <form>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" id="filterInput" placeholder="">
                </div>
            </div>
        </form>

        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th>UN / ID NUMBER</th>
                    <th>PROPER SHIPPING NAME / DESCRIPTION </th>
                    <th>HAZARD CLASS / DIV</th>
                    <th>SUBSIDIARY RISK</th>
                    <th>PG</th>
                    <th>SPECIAL PROVISION</th>
                    <th>PACKAGING PARAGRAPH</th>
                </tr>
            </thead>
            <tbody id="pnTable">
                {% for product in product_list %}
                    <tr class='clickable' onclick="window.location='/products/{{ product.product_un }}' ">
                        <td> {{ product.product_un }} </td>
                        <td> {{ product.product_psn }} </td>
                        <td> {{ product.product_haz_class }} </td>
                        <td> {{ product.product_sub_class }} </td>
                        <td> {{ product.product_pg }} </td>
                        <td> {{ product.product_sp }} </td>
                        <td> {{ product.product_paragraph }} </td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</body>

</html>