{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'search/script.js' %}"></script>
    
</head>

<body>
    <div class="topnav">
        <a href="https://static.e-publishing.af.mil/production/1/af_a4/publication/afman24-604/afman24-604.pdf">Source</a>
        <a href="{% url 'shipmentHistory' %}">Shipment History</a>
    </div>

    <div class="container text-center">
        <h1> Air Force Shipment Manager </h1>

        <form>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" id="filterInput" placeholder="">
                </div>
            </div>
        </form>

        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th>UN</th>
                    <th>PSN</th>
                    <th>Hazardous Class</th>
                    <th>Sub Class</th>
                    <th>PG</th>
                    <th>SP</th>
                    <th>Pack Paragraph</th>
                </tr>
            </thead>
            <tbody id="pnTable">
                {% for product in product_list %}
                <tr>
                    <td> <a class="text-decoration-none link-primary" href="/products/{{ product.product_un }}">
                            {{ product.product_un }} </a> </td>
                    <td> {{ product.product_psn }} </td>
                    <td> {{ product.product_haz_class }} </td>
                    <td> {{ product.product_sub_class }} </td>
                    <td> {{ product.product_pg }} </td>
                    <td> {{ product.product_sp }} </td>
                    <td> {{ product.product_paragraph }} </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</body>

</html>