{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'search/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'search/script.js' %}"></script>
</head>

<body>
    <div class="topnav">
        <a
            href="https://static.e-publishing.af.mil/production/1/af_a4/publication/afman24-604/afman24-604.pdf">Source</a>
        <a href="{% url 'index' %}">Home</a>
    </div>

    <div class="container">
        <h1> SHIPMENT HISTORY </h1>


        <form>
            {% csrf_token %}
            <input type="text" placeholder="Sort by" name="search">
        </form>

        <table class="table table-light table-striped">
            <tr>
                <th>DATE</th>
                <th>TCN NUMBER</th>
                <th>SHIP FROM</th>
                <th>SHIP TO</th>
            </tr>
            <tr>
                <th>May 4, 2022</th>
                <th>M2683183358932XXX</th>
                <th>LAX</th>
                <th>LAG</th>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

</body>

</html>