body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/36/C17_aircraft_alt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}