* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/36/C17_aircraft_alt.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fixed {
    position: fixed;
    top: 30%;
    right: 0;
    width: 110px;
    z-index: 999;
}

.button {
    outline: none;
    color: #fff;
    width: 130px;
    font-size: 16px;
    transition: margin 500ms;
    border-radius: 20px 0 0 20px;
    text-align: left;
}

.button:hover {
    color: white;
    transition: margin 500ms;
    margin-left: -20px;
}

.bg-b-blue {
    background: linear-gradient(45deg, #1a77e2, #bfd6f1);
}

.bg-b-blue:hover {
    background: linear-gradient(45deg, #1a77e2, #4485d2);
}

.bg-b-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-b-orange {
    background: linear-gradient(45deg, #fda582, #f7cf68);
}

.bg-b-orange:hover {
    background: linear-gradient(45deg, #fda582, #fcac7d);
}

.bg-b-purple {
    background: linear-gradient(45deg, #a52dd8, #e29bf1);
}

.bg-b-purple:hover {
    background: linear-gradient(45deg, #a52dd8, #b143dd);
}